
/* Estilos para el HEADER */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #010101;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-logo img {
    height: 40px; /* Ajusta la altura según tu logo */
  }
  
  .navbar-menu {
    list-style-type: none;
    display: flex;
    justify-content:end;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-left: 20px;
  }
  
  .navbar-menu li:first-child {
    margin-left: 0;
  }
  
  .navbar-menu li a {
    color: white;
    text-decoration: none;
  }
  
.content {
    padding: 20px;
  }

.Texto-mover{
    animation: mover-izquierda-derecha 45s infinite;
    animation-fill-mode: forwards;
    font-size: 18px;
}
@keyframes mover-izquierda-derecha{
    from{
        transform: translateX(-90%);
    }
    to{
        transform: translateX(90%);
    }
}

/* Estilo para el BANNER */

.banner
{
    margin: -20px;
    position: relative;     
}
.banner:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    top:0;
    
}
.img-banner
{
    width: 100%;
    height: 400px;
    object-fit: cover; /* No queda estirada la imagen */
}


/* Estilos para la BOTONERA */
.button-botonera
{
    margin-left: 2px;
    width: 33%;
    height: 110px;
    padding: 40px;
    font-size: 12px;
}
.negrita{
    font-weight: bold;   
}

/* Estilos para las TARJETAS*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 220px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 15px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .Grid-productos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /*margin-left: 10px;*/
}
.Cardi{
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
.Demo {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    background-color: #810a0a; 
    color: rgb(255, 255, 255);   
  }
 .Desc{
    background-color: #000000;
    color: rgb(162, 162, 162);
    font-size: 30px;
 }
 .Desc1{
    font-size: 30px;
 }
 .progress-bar
 {
    margin: 10px 10px 30px 10px;
 }
 .titulo-card
 {
    margin-top: 20px;
 }

/* Estilos para el TEXTO */
.titulo-texto
{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}
.titulo-texto-secundario
{
    font-size: 20px;
    text-align: center;
}
.proceso-grid
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.proceso{
    box-shadow: 0 4px 8px 0 rgba(3, 0, 0, 0.614);
    max-width: 95%;
    margin-top: 30px;
    text-align: center;
    font-family: arial;
    margin-left: 30px;
    height: 500px;
    background-color:rgba(0, 0, 0, 0.2);
 }
 .acceso
 {
    height: 800px;
    padding: 70px;
    width: 80%;;
    
 }
 .acceso-grid
 {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 }

/* Estilos para el FOOTER */

.footer-principal {
    background: #000000;
    color: white;
    padding: 20px 5px; 
    font-size: 12px;
}

.footer-principal [class*="icon-"] {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
}

.footer-principal [class*="icon-"]:before {
    position: relative;
    top: 3px; 
    right: 5px;
}

/* Estilos para el diseño de las columnas flexibles */
.contenedor-flex {
    display: flex;
}

.columna-flex-footer {
    flex: 1;
    padding: 20px;
   /*border-right: 1px solid #ccc;*/
}

.columna-flex-footer:last-child {
    border-right: none; /* Elimina el borde en la última columna */
}

.titulo-columna {
    font-size: 20px;
    margin-bottom: 10px;
}

.desc-columna {
    margin-bottom: 10px;
}

.icon-facebook,
.icon-twitter,
.icon-instagram {
    text-decoration: none; /* Quita la subrayado de los enlaces */
    color: #333; /* Color del texto */
}

.icon-facebook:hover,
.icon-twitter:hover,
.icon-instagram:hover {
    color: #4267B2; /* Color del texto al pasar el ratón */
}
.copy{
    margin-top: 10px;
    text-align: center;
}