/* Estilos para el HEADER */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: -20px 0px 0px 0px;
    padding: 0;
}

header, footer {
    background: rgb(122, 119, 23);
    color: white;
    text-align: center;
    padding:0;
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    font-size: 12px;
}

.navbar-menu {
    list-style-type: none;
    /*padding: 10px 20px 0px 0px;*/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li:first-child {
    margin-left: 0px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
}

.body-gral {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.logo {
    max-width: 25%;
    height: auto;
}

@media (max-width: 768px) {
    .navbar-logo img {
        max-width: 15%;
    }
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li:first-child {
    margin-left: 0;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
}

.Texto-mover {
    animation: mover-izquierda-derecha 45s infinite;
    animation-fill-mode: forwards;
    font-size: 18px;
}

@keyframes mover-izquierda-derecha {
    from {
        transform: translateX(-90%);
    }
    to {
        transform: translateX(90%);
    }
}

/* Estilo para el BANNER */
.banner {
    /* margin: -20px -20px 0px -20px; */
    position: relative;
}

.banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 1000;
    top: 0;
}

.img-banner {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

/* Estilos para la BOTONERA */
.button-botonera {
    margin: 5px 5px 5px 5px;
    width: 32%;
    height: 110px;
    padding: 30px 40px 30px 40px;
    font-size: 12px;
    background-color: #000;
    color: white;
    border: 2px solid #333;
    box-shadow: 4px 4px 10px rgba(132, 132, 132, 0.1);
    /* Sombra */
}

@media (max-width: 1023px) {
    .button-botonera {
        margin: 3px 3px 3px 3px;
        width: 32%;
        height: 110px;
        padding: 30px 40px 30px 40px;
        font-size: 8px;
        background-color: #000;
        color: white;
        border: 2px solid #333;
        box-shadow: 4px 4px 10px rgba(132, 132, 132, 0.1);
        /* Sombra */
    }
}

@media (max-width: 767px) {
    .button-botonera {
        margin: 3px 3px 3px 3px;
        width: 100%;
        height: 110px;
        padding: 30px 40px 30px 40px;
        font-size: 8px;
        background-color: #000;
        color: white;
        border: 2px solid #333;
        box-shadow: 4px 4px 10px rgba(132, 132, 132, 0.1);
        /* Sombra */
    }
}

.negrita {
    font-weight: bold;
}

/* Estilos para las TARJETAS*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 90%;
    text-align: center;
    font-family: arial;
    text-shadow: 2px 2px 4px rgba(159, 157, 157, 0.5);
    /* Especifica la sombra del texto */
}

.price {
    color: grey;
    font-size: 15px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
}

.card button:hover {
    opacity: 0.7;
}

.Grid-productos {
    margin: 30px 30px 0px 30px;
    display: grid;
    grid-template-columns: 34% 33% 33%;
}

.Cardi {
    margin: 0px 30px 0px 30px;
    padding: 70px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.Demo {
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    background-color: #810a0a;
    color: rgb(255, 255, 255);
}

.Desc {
    background-color: #000000;
    color: rgb(162, 162, 162);
    font-size: 30px;
}

.Desc1 {
    font-size: 30px;
}

.progress-bar {
    margin: 10px 10px 30px 10px;
}

.titulo-card {
    margin-top: 20px;
}

@media (max-width: 1023px) {
    .Cardi {
        margin: 0px 30px 0px 30px;
        padding: 70px 20px 20px 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    
    .Demo {
        text-align: center;
        font-size: 20px;
        margin-top: 0px;
        background-color: #810a0a;
        color: rgb(255, 255, 255);
    }
    
    .Desc {
        background-color: #000000;
        color: rgb(162, 162, 162);
        font-size: 20px;
    }
    
    .Desc1 {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .Grid-productos {
        margin: 30px 30px 30px 30px;
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
    }    
    .Cardi {
        margin: 0px 0px 0px 0px;
        padding: 70px 20px 20px 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }
}

/* Estilos para el TEXTO */
.titulo-texto {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulo-texto-secundario {
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

/* Estilos para PROCESO */
.proceso-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 16px;
}

.proceso {
    box-shadow: 0 4px 8px 0 rgba(3, 0, 0, 0.614);
    /* max-width: 95%; */
    margin: 30px;
    text-align: center;
    font-family: arial;
    height: 100%;
    padding: 30px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.2);
}

.proceso-card {
    padding: 30px 30px 30px 30px;
    margin: 10px;
}

.acceso {
    width: 100%;
}

.acceso-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 16px;
    margin: 0% 10% 10% 10%;
}

.acceso-grid-card {
    padding: 10% 10% 10% 10%;

}

@media (max-width: 1023px) {
    .proceso {
        height: 170%;
    }
    .proceso-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 12px;
    }
    .acceso-grid {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 12px;
        margin: 0% 10% 10% 10%;
    }
}

@media (max-width: 767px) {
    .proceso {
        height: 300%;
    }
    .proceso-grid {
        display: grid;
        grid-template-columns: 100%;
        font-size: 10px;
    }
    .acceso-grid {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 10px;
        margin: 0% 10% 10% 10%;
    }
}

/* Estilos para el FOOTER */

.footer-principal .contenedor{
    width: 100%;
    background: #000000;
    color: white;
    padding: 20px 5px;
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}



.footer-principal [class*="icon-"] {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
}

.footer-principal [class*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;
}

.footer-principal .columna {
    flex: 1;
    text-align: left;
}

/* Estilos para el diseño de las columnas flexibles */
.contenedor-flex {
    display: flex;
}

.columna-flex-footer {
    flex: 1;
    padding: 20px;
    /*border-right: 1px solid #ccc;*/
    text-align: left;
}

.columna-flex-footer:last-child {
    border-right: none;
    /* Elimina el borde en la última columna */
}

@media (max-width: 768px) {
    .footer-principal .contenedor-flex .columna {
        width: 100%; /* Cambia el ancho de las columnas al 100% */
        margin-bottom: 10px; /* Agrega espacio entre las columnas */
    }
}

.titulo-columna {
    font-size: 20px;
    margin-bottom: 10px;
}

.desc-columna {
    margin-bottom: 10px;
}

.icon-facebook,
.icon-twitter,
.icon-instagram {
    text-decoration: none;
    color: #333;
}

.icon-facebook:hover,
.icon-twitter:hover,
.icon-instagram:hover {
    color: #4267B2; /*texto  cuando pasa el mouse*/
}

.copy {
    margin-top: 10px;
    text-align: center;
}

