/* Estilos del formulario */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

header, footer {
    background: rgb(122, 119, 23);
    color: white;
    text-align: center;
    padding:0;
    margin: 0;
}

.navbar-logo img {
    max-width: 90%;
    height: auto;
}

.navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar-menu li {
    margin-left: 20px;
}

.formulario-container {
    flex-grow: 1;
    background-image: url('../dtos.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.formulario {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: black;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.formulario h2 {
    text-align: center;
}

.formulario label {
    font-size: 18px;
    color: rgb(249, 249, 249); /* Cambiar el color del label a negro */
}

.formulario input[type="text"],
.formulario input[type="password"],
.formulario input[type="date"],
.formulario input[type="email"],
.formulario input[type="submit"] {
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
}

.formulario input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario input[type="submit"]:hover {
    background-color: #0056b3;
}

.footer-principal .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-principal .columna {
    flex: 1;
    text-align: left;
}
#tit-formulario {
    color:white
}